.projects {
    border-left: var(--border-main);
    border-right: var(--border-main);
    border-bottom: var(--border-main);
    background: #fff;
    scroll-margin-top: calc(var(--sm-block) * 2);
    background: var(--nb-green); ;
    
}

.projects-logo {
    width: 275px;
    height: var(--sm-block);

    display: flex;
    align-items: center;
    justify-content: center;

    border-right: var(--border-main);
    background: var(--nb-blue);
    color: var(--black);
}

.projects-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: var(--border-main);
    background: var(--nb-yellow);
    color: var(--black);
}

.projects-release {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
    color: var(--black);
    background: var(--nb-yellow) ;

    h2 {
        text-align: center;
        font-size: 3rem;
        font-family: var(--font-secondary);
        
    }

    .release-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        font-family: var(--font-secondary);
    }
}

