.projects {
    border-left: var(--border-main);
    border-right: var(--border-main);
    border-bottom: var(--border-main);
    background: #fff;
    scroll-margin-top: calc(var(--sm-block) * 2);
    background: var(--nb-green); ;
    
}

.projects-logo {
    width: 275px;
    height: var(--sm-block);

    display: flex;
    align-items: center;
    justify-content: center;

    border-right: var(--border-main);
    background: var(--nb-blue);
    color: var(--black);
}

.projects-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: var(--border-main);
    background: var(--nb-yellow);
    color: var(--black);
}

.projects-release {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 30px 0 0 0;
    color: var(--black);
    background: var(--nb-yellow) ;

    h2 {
        text-align: center;
        font-size: 3rem;
        font-family: var(--font-secondary);
        
    }

    .release-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        font-family: var(--font-secondary);
    }
}

.more-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
    background: var(--nb-yellow);
    color: var(--black);
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    
    a {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0.5rem 1rem;
        
        border: 2px solid var(--white-body);
        background: var(--black);
        color: var(--white-body);
        transition: all 0.3s ease-in;

        &:hover {
            box-shadow: none;
            text-decoration: underline ;
        }

        &:hover  .more-projects-icon {
            transform: translateX(10px);
        }

        .more-projects-icon {
            width: 50px;
            height: 50px;
            transition: all 0.3s ease-in;
        }
    }

}

@media only screen and (max-width: 640px) {
    .projects-logo {
        width: 100%;
        border-right: 0;
    }
}

