.starter-article {
    border: var(--border-btn);
    box-shadow: var(--shadow-square);
    transition: all 0.3s ease-in;
    cursor: pointer;
    position: relative;
    z-index: 11;

    &:hover {
        box-shadow: none;
    }

    .starter-img {
        overflow: hidden;
        width: 300px;
        aspect-ratio: 16/9;

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            transition: all 0.3s ease-in;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.starter-article::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 6px;
    width: 100%;
    height: 100%;
    background: var(--black);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 50% 0);
    z-index: -1;
    transition: all 0.3s ease-in;
}

.starter-article:hover::before {
    left: 2px;
}
