/* hero image section */

.hero-img {
    grid-column: 3 / 4;
    grid-row: 1 / 4;

    border-left: var(--border-main);
    position: relative;
}

.hero-img .profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-waves {
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: crosshair;
    animation: discover 2s ease-in-out;
}

@media only screen and (max-width: 992px) {
    .hero-img {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }
}

@media only screen and (max-width:  640px) {
    .hero-img {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }

    .img-waves {
        display: none;
    }
}