.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    /* border: var(--border); */
    background: #fff;
}

footer {
    background: var(--black);
    color: var(--white-body);
    padding: 20px 0;
    text-align: center;
}